<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM.Image" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.linux-arm" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.linux-arm64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.linux-musl-arm" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.linux-musl-arm64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.linux-musl-x64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.linux-x64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.osx-arm64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.osx-x64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.win-arm64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.win-x64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.Image.runtime.win-x86" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.MSBuild.Tools" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.MSBuild.Tools.runtime.linux-arm" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.MSBuild.Tools.runtime.linux-arm64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.MSBuild.Tools.runtime.linux-x64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.MSBuild.Tools.runtime.osx-arm64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.MSBuild.Tools.runtime.osx-x64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.MSBuild.Tools.runtime.win-arm64" version="8.9.1" targetFramework="net481" />
  <package id="IKVM.MSBuild.Tools.runtime.win-x64" version="8.9.1" targetFramework="net481" />
  <package id="PCSC" version="6.2.0" targetFramework="net481" />
</packages>